header {
  max-width: 1300px;
  margin: 40px auto;

  .header-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;

    .txt {
      display: flex;
      justify-content: center;
      align-items: center;
      background: whitesmoke;

      .txt-container {
        .typing-container {
          // text-align: center;
          line-height: 1.4em;
          position: relative;
        }
        h1.text {
          font-family: poppinsbold;
          font-size: 3rem;
          line-height: 1.2;
          padding-bottom: 20px;
          white-space: pre-line; /* garde les retours à la ligne */
          margin: 0;
        }

        #motivation {
          font-family: latoRegular;
          font-weight: 500;
          margin-bottom: 70px;
        }
      }
    }
  }
  #img {
    background: url(../image/ESCM.webp) center/cover;
    height: 500px;
    width: 100%;
    border-radius: 5px;
  }
}
