#iuppc {
  h2 {
    text-align: center;
    font-size: 1.6rem;
  }
  .contain {
    width: 90%;
    margin: 0 auto;
  }
  p {
    line-height: 1.7;
    // font-weight: 600;
  }
  #iuppc-mission {
    margin-bottom: 30px;
  }
}
