nav {
  max-width: 1300px;
  margin: 0 auto;
  #banner {
    padding-top: 10px;
    #topBar {
      .topBar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .topBar-left {
          img {
            height: 40px;
            border-radius: 5px;
          }
        }
        .topBar-right {
          #connect {
            padding: 4px 8px;
          }
          #langage {
            margin: 0 5px;
            #flag {
              img {
                height: 10px;
              }
            }
            #country {
            }
          }
        }
      }
    }
  }
  #navigation {
    background: $blue2;
    height: 70px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    .navigation-container {
      width: 90%;

      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
          list-style: none;

          a {
            position: relative;
            text-decoration: none;
            color: #fff;
            font-weight: 500;
            padding: 10px 15px;
            transition: all 0.3s ease;

            /* Soulignement invisible par défaut */
            &::after {
              content: "";
              position: absolute;
              width: 0%;
              height: 2px;
              left: 50%;
              bottom: 0;
              background-color: #ffcc00; /* accent doré Pigier */
              transition: all 0.3s ease;
            }

            &:hover {
              color: #ffcc00; /* couleur hover */
              transform: scale(1.1);

              /* Soulignement qui s'étend au survol */
              &::after {
                width: 100%;
                left: 0;
              }
            }
          }
        }
      }
    }
  }
}
